/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--color-text-default);
  font-family: var(--font-primary, "Inter-Flex-Variable", sans-serif);
  background-color: var(--themes-background);
  background-image: var(--page-background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: var(--font-size-default);
  font-variation-settings: 'wght' var(--font-weight-normal);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* хэдер */
.header {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  max-width: 700px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--themes-mainColor);
  background: var(--themes-background);
  margin-top: 100px;
}

/* заголовок  */
.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  text-decoration: none;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 135px;
  font-family: var(--font-family, "PressStart2P", sans-serif);
}

@media (max-width: 375px) {
  .header__title {
    margin-top: 120px;
  }
}

/* подзаголовок */
.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: var(--font-family, "PressStart2P", sans-serif);
}

/* кнопки */
.theme-menu__item {
  margin-bottom: 10px;
  font-family: var(--font-family, "PressStart2P", sans-serif);
}

.theme-menu__item:last-child {
  margin-bottom: 25px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding-left: 25px;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  outline: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  margin-left: 25px;
  bottom: -2px;
  width: 80%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  z-index: 2;
  color: var(--themes-mainColor);
  font-family: var(--font-family, "PressStart2P", sans-serif);
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  animation-name: play;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  outline: none;
}

/* главная секция */
.main-section {
  display: grid;
  justify-items: center;
  gap: 48px;
  padding-block-end: 105px;
}

@media (max-width: 375px) {
  .main-section {
    gap: 50px;
  }
}

/* карточки */
.card {
  max-inline-size: 700px;
  background-color: var(--themes-background);
  border: 2px solid var(--themes-mainColor);
}

/* заголовок */
.card__title {
  font-variation-settings: 'wght' var(--font-weight-bold);
  font-style: normal;
  padding-inline-start: 10px;
  padding-top: 4px;
  padding-bottom: 4px ;
  border-bottom: 2px solid var(--themes-mainColor);
  display: flex;
  font-size: 18px;
  align-items: center;
}

@media (max-width: 375px) {
  .card__title {
    padding-inline-start: 0px;
    padding: 3px 10px;
  }
}

/* изображение */
.card__image-wrapper {
  border-bottom: 2px solid var(--themes-mainColor);
  z-index: 1;
  position: relative;
}

.card__image-text {
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--font-family, "PressStart2P", sans-serif);
  font-size: 14px;
  text-transform: uppercase;
  z-index: 1;
  position: absolute;
  top: 25px;
  right: 25px;
  text-shadow: -1px -1px 0 var(--border-label), 1px -1px 0 var(--border-label), -1px 1px 0 var(--border-label), 1px 1px 0 var(--border-label);
}

@media (max-width: 375px) {
  .card__image-text {
    top: 25px;
    right: 10px;
  }
}

.image-text {
  text-transform: lowercase;
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
  display: block;
}

@supports (-webkit-text-stroke: 1px var(--border-label)) or (text-stroke: 1px var(--border-label)) {
  .card__image-text {
    /* Если браузер поддерживает text-stroke, используем его и убираем text-shadow */
    text-shadow: none;
    -webkit-text-stroke: 0.5px var(--border-label);
    text-stroke: 0.5px var(--border-label);
  }
}

/* описание каточки */
.card__footer {
  padding-top: 25px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-left: 24px;
  padding-right: 23px;
  padding-bottom: 27px;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--font-weight-normal);
}

@media (max-width: 375px) {
  .card__text {
    padding-right: 25px;
    gap: 19px;
  }
}

.card__text:last-child {
  padding-bottom: 0;
  margin-bottom: 25px;
}

.card__text-inform {
  padding-right: 25px;
}

@media (max-width: 375px) {
  .card__text-information {
    padding-right: 28px;
  }
}

/* лайк */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 26px;
  margin-right: 25px;
}

.button__heart {
  border: 2px solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  margin-right: 2px;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
  border: 2px solid var(--themes-mainColor);
}

.card__icon-button:focus-visible {
  border: 2px solid var(--themes-mainColor);
}

.button__text {
  color: var(--button-text);
  font-family: var(--font-family, "PressStart2P", sans-serif);
  font-size: 14px;
  font-style: normal;
  line-height: 90%;
  padding: 0 15px;
}

.button__like {
  border: 2px solid var(--themes-mainColor);
  background-color: var(--themes-background);
  display: flex;
  width: 130px;
  padding: 9px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  background-color: var(--themes-background);
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--btn-color-dark);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button__icon {
  color: var(--button-text);
  width: 21px;
  height: 21px;
  margin-left: 14px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

@media (max-width: 375px) {
  .button__icon {
    width: 28px;
    height: 28px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.button span {
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--themes-mainColor);
}

/* фильтры  */

.filter-grayscale {
  filter: grayscale(60%);
}

.filter-saturate {
  filter: saturate(170%);
}

.filter-multi {
  filter: hue-rotate(40deg) contrast(70%) saturate(110%);
}

.filter-invert {
  filter: invert(75%);
}

.filter-sepia {
  filter: sepia(85%);
}

.filter-blur {
  filter: blur(5px);
}

.filter-rotate {
  filter: grayscale(30%) saturate(250%) blur(5px) hue-rotate(90deg) invert(25%);
}

/* сохранить на память */

.button-save {
  border: 2px solid var(--themes-mainColor);
  background-color: var(--themes-background);
  padding: 13px 0;
  display: flex;
  align-items: center;
}

@media (max-width: 375px) {
  .button-save {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.modal__section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.modal__floppy {
  margin-right: 20px;
}

.modal__section svg {
  width: 40px;
  height: 55px;
  color: var(--themes-mainColor);
}

.modal__text {
  color: var(--themes-mainColor);
  font-family: var(--font-family, "PressStart2P", sans-serif);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  max-width: 200px;
  display: flex;
  justify-content: center;
}

.modal {
  background-color: var(--themes-background);
  border: 2px solid var(--themes-mainColor);
  padding: 30px;
  width: 357px;
}

@media (max-width: 375px) {
  .modal {
    width: 341px;
    padding: 35px;
  }
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /* предотвращение прокрутки */
}

.modal::backdrop {
  background-color: #000000;
  opacity: 0.75;
}

.modal__button {
  border: 2px solid var(--themes-mainColor);
  background-color: var(--themes-background);
  inline-size: 100%;
  padding: 9px 10px;
  display: flex;
  justify-content: center;
}

.modal__text-button {
  text-transform: uppercase;
}