/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
    --color-text-default: #00CC14;
    --themes-background: #000;
    --themes-mainColor: #00CC14;
    --border-label: #000;
    --heart-contour: #00CC14;
    --heart-fill: #FF0000;
    --button-text: #00CC14;
    --btn-color-dark: #00CC14;
    --page-background-image: repeating-linear-gradient(to right, #000 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
    --font-weight-normal: 465;
    --font-weight-bold: 785;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text-default: #00CC14;
        --themes-mainColor: #00CC14;
        --border-label: #000;
        --heart-contour: #00CC14;
        --btn-color-dark: #00CC14;
        --heart-fill: #FF0000;
        --button-text: #00CC14;
        --themes-background: #000;
        --page-background-image: repeating-linear-gradient(to right, #000 0px 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
        linear-gradient(to bottom, #007f0c, #004306);
        --font-weight-normal: 465;
        --font-weight-bold: 785;
    }
}

:root.theme-light {
    --color-text-default: #000;
    --themes-background: #fff;
    --themes-mainColor: #000;
    --border-label: #fff;
    --heart-contour: #000;
    --heart-fill: #FF0000;
    --btn-color-dark: #000;
    --button-text: #fff;
    --page-background-image: repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-text-default: #000;
        --themes-mainColor: #000;
        --themes-background: #fff;
        --heart-contour: #000;
        --border-label: #fff;
        --btn-color-dark: #000;
        --heart-fill: #FF0000;
        --button-text: #fff;
        --page-background-image: repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
        --font-weight-normal: 400;
        --font-weight-bold: 700;
    }
}