/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
.theme-dark {
    --text-color: #00CC14;
    --Themes-background: #000;
    --Themes-mainColor: #00CC14;
    --border-label: #000;
    --heart-contour: #00CC14;
    --heart-fill: #FF0000;
    --btn-color-dark: #00CC14;
    --page-background-image: url(../images/background-black.png), linear-gradient(180deg, #007F0C 0%, #004306 100%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #00CC14;
        --Themes-mainColor: #00CC14;
        --border-label: #000;
        --heart-contour: #00CC14;
        --btn-color-dark: #00CC14;
        --heart-fill: #FF0000;
        --Themes-background: #000;
        --page-background-image: url(../images/background-black.png), linear-gradient(180deg, #007F0C 0%, #004306 100%);
    }
}

.theme-light {
    --text-color: #000;
    --Themes-background: #fff;
    --Themes-mainColor: #000;
    --border-label: #fff;
    --heart-contour: #000;
    --heart-fill: #FF0000;
    --btn-color-dark: #000;
    --page-background-image: url(../images/background-light.png), linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #000;
        --Themes-mainColor: #000;
        --Themes-background: #fff;
        --heart-contour: #000;
        --border-label: #fff;
        --btn-color-dark: #000;
        --heart-fill: #FF0000;
        --page-background-image: url(../images/background-light.png), linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
    }
}