/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --text-font: "Inter-Flex-Variable";
    --text-color: #000;
    --Themes-background: #fff;
    --background-color: linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
    --page-background-image: url(../images/background-light.png);
    --text-size: 18px;
}