/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-primary: "Inter-Flex-Variable";
    --font-size-default: 18px;
    --color-text-default: #00CC14;
    --themes-background: #000;
    --themes-mainColor: #00CC14;
    --border-label: #000;
    --heart-contour: #00CC14;
    --heart-fill: #FF0000;
    --button-text: #000;
    --btn-color-dark: #00CC14;
    --page-background-image: repeating-linear-gradient(to right, #000 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
    --font-weight-normal: 465;
    --font-weight-bold: 785;
    --font-family: "PressStart2P";
}